.dynamic-inputs__group {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  place-items: center;
  place-content: center;
}
.dynamic-inputs__group .delete-input {
  background-image: url("./remove.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.add-input {
  background-image: url("./plus.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.dynamic-inputs__group .input-group {
  margin: 0;
}
.dynamic-inputs__group .input-group .input-error {
  display: none;
}
