.search-bar {
  background: linear-gradient(
    to left,
    rgba(25, 25, 25, 0.6),
    rgba(25, 25, 25, 0.8)
  );
  border-radius: 5px;
  color: #f4f4f4;
  margin: 0 auto;
  position: relative;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.2s;
}
.search-bar .title-globe {
  width: 35px;
}
.search-bar input,
.search-bar select {
  text-align: center;
}
.search-bar h3 {
  flex-basis: 100%;
}
.search-bar .input-group {
  margin-bottom: 0;
}

.search-bar .search-location {
  position: relative;
}
.search-bar .search-location img {
  position: absolute;
  left: 0;
  top: 0;
  padding: 3px 0;
  height: 100%;
  z-index: 100;
}
.search-bar .search-offer__button {
  position: absolute;
  border: none;
  top: 1rem;
  right: 1.5rem;
  background: transparent;
  color: #fff;
}
.search-bar .search-offer__button:hover span {
  color: var(--secondary-color);
}
.search-bar .search-offer__button img {
  width: 35px;
}

@media screen and (max-width: 991px) {
  #search-bar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #search-bar .search-period {
    margin-top: 0 !important;
  }
  #search-bar .row > * {
    margin-bottom: 1rem;
  }
  #search-bar .search-offer__button {
    position: static;
    bottom: 5px;
    justify-content: center;
  }
}
