aside {
  background: #333;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

aside a {
  padding: 0 2rem;
  display: inline-block;
  margin: 1rem 0;
  cursor: pointer;
}

aside i {
  color: inherit;
  transition: all 0.4s;
}

aside i:hover {
  color: var(--accent-color);
}
