.favorites-list,
.sent-messages {
  padding: 1rem;
  background: #f4f4f4;
  border-radius: 3px;
}
.logout {
  cursor: pointer;
}
.logout:hover {
  opacity: 0.7;
}
.logout-icon {
  width: 1.5rem;
  margin-right: 0.4rem;
  margin-bottom: 0.3rem;
}
