@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #04009a;
  --secondary-color: #77acf1;
  --light-color: #c0fefc;
  --accent-color: #fad02c;
}
html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit !important;
}
ul {
  list-style: none;
}
section {
  padding: 4.2rem 0;
}
body {
  background: #d8d8d8;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* utilities */
.container {
  max-width: 1400px !important;
}
.large-header {
  font-size: 3.5rem;
  font-weight: 900;
}
.old-price {
  text-decoration: line-through;
  font-weight: 400 !important;
}
.btn {
  padding: 0.5rem 0.75rem;
}
.btn.btn-secondary {
  background: var(--secondary-color);
  border: #3b6eb1;
  color: #333;
}
.btn.btn-primary {
  background: var(--primary-color);
  border: #120f70;
}
.btn.btn-accent {
  background: var(--accent-color);
  border: #a18513;
  color: #333;
}

.scrollable-container {
  width: 50%;
  height: 60vh;
  margin: 0 auto;
  overflow-y: auto;
}

/* modal */
.modal {
  align-items: center;
  background: #f4f4f4;
  border-radius: 5px;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  max-width: 500px;
  padding: 2rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close-modal {
  position: absolute;
  padding: 10px;
  top: 0px;
  right: 5px;
  cursor: pointer;
  z-index: 9999;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  background-color: #cccccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #fff;
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 25%,
    transparent 100%,
    rgba(0, 0, 0, 1) 75%,
    transparent
  );
}
